@using System.Web.Hosting
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ClientApp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link href="~/Scripts/client/styles.c8cac482cb096bff038e.css" rel="stylesheet" />
</head>
<body>
    <app-root></app-root>
    <script src="~/Scripts/client/5-es5.d0b1e63f32225800a6f1.js"></script>
    <script src="~/Scripts/client/5-es2015.d0b1e63f32225800a6f1.js"></script>
    <script src="~/Scripts/client/main-es2015.e9bc384569e76ef47476.js"></script>
    <script src="~/Scripts/client/main-es5.e9bc384569e76ef47476.js"></script>
    <script src="~/Scripts/client/polyfills-es2015.f332a089ad1600448873.js"></script>
    <script src="~/Scripts/client/polyfills-es5.177e85a9724683782539.js"></script>
    <script src="~/Scripts/client/runtime-es2015.9551176a823eddd551da.js"></script>
    <script src="~/Scripts/client/runtime-es5.9551176a823eddd551da.js"></script>

</body>
</html>
